
.head{
    color: #350301;
}
.background{
    background-color: #FFFFCB;
}
.card{
    position: relative;
    border : 2px solid #000;
    background-color: #F2E4AF;
    font-family : Arial;
}
.card-head{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #CDA965;
    text-align: center;
    border-bottom : 2px solid #000;
}
.card-body{
    margin: 20px;
}
.card-body > img{
    padding-left: 40px;
}

.card-nav{
    padding-left: 10px;
    padding-top: 10px;
    background-color: #E9D982;
}
.card-nav > a{
    margin-right: 40px;
    text-decoration: none;
}
.card-foot{
    border-top : 2px solid #000;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #CDA965;
    font-style: italic;
}
